<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    Posted <%= time_tag article.created_at, "data-local": "time-ago" %> by Me
  </p>

  <p>
    <strong>Body:</strong>
    <%= article.body %>
  </p>

</div>
